---
import Layout from '~/layouts/PageLayout.astro';

import Features from '~/components/widgets/Features.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import type { MetaData } from '~/types';
import configBuilder from 'vendor/integration/utils/configBuilder';
import loadConfig from 'vendor/integration/utils/loadConfig';
const _themeConfig = 'src/config.yaml';

const rawJsonConfig = await loadConfig(_themeConfig);
const { SITE, I18N, METADATA, APP_BLOG, UI, ANALYTICS } = configBuilder(rawJsonConfig as any);
const metadata: MetaData = {
  title: 'Adamys Pet Walker - Servicios para paseadores de perros',
  ignoreTitleTemplate: true,
  description:
    'Adamys Pet Walker ofrece servicios de paseos personalizados y divertidos, cuidado y atenci贸n personalizada, y educaci贸n canina para mantener a tu perro activo, feliz y bien entrenado. Cont谩ctame para agendar un paseo o para obtener m谩s informaci贸n sobre los servicios ofrecidos. Visita mis redes sociales para obtener consejos e informaci贸n sobre c贸mo mantener a tu perro feliz y saludable.',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero2
    tagline="Adamys Pet Walker"
    title="Paseos, Cuidado y Educaci贸n Canina Personalizado"
    subtitle="Paseos personalizados y divertidos, cuidado y atenci贸n personalizada, y educaci贸n canina para mantener a tu perro activo, feliz y bien entrenado. 隆Cont谩ctame para agendar un paseo o para obtener m谩s informaci贸n sobre los servicios ofrecidos!"
    actions={[
      {
        variant: 'tertiary',
        text: ' Agendar Paseo  Cuidado de mascotas aqu铆 ',
        href: 'https://wa.me/56950623790',
        icon: 'tabler:brand-whatsapp',
        classes: { asd: 'bg-green-400' },
        target: '_blank',
      },
      {
        text: 'Tienda para mascotas ',
        href: 'https://instagram.com/adamyspsoficial',
        target: '_blank',
      },
    ]}
    image={{
      src: '~/assets/images/main-pick.jpg',
      alt: 'Paseo de perros en el parque',
      loading: 'eager',
    }}
  />

  <Content
    isReversed={true}
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-tiktok',
        callToAction: {
          target: '_blank',
          text: 'TikTok',
          href: 'https://www.tiktok.com/@adamyscop',
        },
      },
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/adamyspsoficial/',
        },
      },
      {
        icon: 'tabler:brand-youtube',
        callToAction: {
          target: '_blank',
          text: 'Youtube',
          href: 'https://www.youtube.com/channel/UCk-WeiV7irO52cNqGMi_Jjg',
        },
      },
      {
        icon: 'tabler:brand-facebook',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: 'https://www.facebook.com/profile.php?id=61557115130021',
        },
      },
    ]}
    image={{
      src: '~/assets/images/marc-ada.png',
      alt: 'Dog with hat',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Paseo, Cuidado y Educaci贸n Canina
      </h2>
      <p>
        Bienvenido a mi p谩gina dedicada al paseo, cuidado y educaci贸n canina. Soy <bold>Marcela</bold>. En mis redes
        sociales encontrar谩s informaci贸n y consejos para mantener a tu perro feliz y saludable.
      </p>
      <br />
      <p>
        Me inspira el mundo de los perros y me apasiona ayudar a los due帽os a entender y educar a sus mascotas. A trav茅s
        de mis servicios de paseo, cuidado y educaci贸n canina, busco fortalecer el v铆nculo entre t煤 y tu perro, y
        brindarte las herramientas necesarias para tener una convivencia armoniosa.
      </p>
      <br />
      <p>Si est谩s interesado en conocer m谩s sobre mis servicios, no dudes en visitar mis redes:</p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features Widget *************** -->

  <Features
    id="Servicios"
    tagline="Servicios"
    title="Servicios Profesionales Ofrecidos"
    subtitle="Servicios profesionales ofrecidos para mantener a tu perro activo y feliz todos los d铆as."
    items={[
      {
        title: 'Paseo de Perros (Dog Walker)',
        description: 'Paseos personalizados y divertidos para mantener a tu perro activo y feliz todos los d铆as.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Cuidado de Mascotas (Pet Sitter)',
        description:
          ' Atenci贸n personalizada y llena de amor para que tu mascota se sienta segura y feliz en tu ausencia.',
        icon: 'tabler:components',
      },
      {
        title: 'Educaci贸n Canina',
        description: ' Consejos y tips para que entiendas y entrenes a tu perro.',
        icon: 'tabler:list-check',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'tertiary',
        text: ' Agendar Paseo  Cuidado de mascotas aqu铆 ',
        href: 'https://wa.me/56950623790',
        icon: 'tabler:brand-whatsapp',
        classes: { asd: 'bg-green-400' },
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title"> Adamys </Fragment>

    <Fragment slot="subtitle">
      Pasea, cuida y entrena a tu perro conmigo y descubre la diferencia. <br class="hidden md:inline" />隆No pierdas m谩s
      tiempo! 
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </CallToAction>

  <FAQs
    title="Preguntas Frequentes"
    subtitle="Preguntas frecuentes sobre los servicios ofrecidos."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '驴Cu谩les son los beneficios de contratar un paseador de perros?',
        description:
          'Contratar un paseador de perros profesional tiene varios beneficios, como mantener a tu perro activo y saludable, socializar con otros perros, y recibir atenci贸n personalizada durante el paseo.',
      },
      {
        title: '驴C贸mo puedo reservar un servicio de cuidado de mascotas?',
        description:
          'Puedes reservar un servicio de cuidado de mascotas contact谩ndonos a trav茅s de nuestro sitio web o llamando a nuestro n煤mero de tel茅fono (Whatsapp). Te proporcionaremos toda la informaci贸n necesaria y coordinaremos los detalles del cuidado de tu mascota.',
      },
      {
        title: '驴Qu茅 tipo de educaci贸n canina ofrecen?',
        description:
          'Ofrecemos consejos y t茅cnicas de educaci贸n para ayudarte a entender y educar a tu perro. Nuestro objetivo es mejorar la relaci贸n entre t煤 y tu mascota, y brindarte las herramientas necesarias para tener un perro bien entrenado y feliz.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->
</Layout>
